@import url("https://fonts.googleapis.com/css2?family=Sen&display=swap");
*, *::after, *::before {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  scroll-behavior: smooth; }

body {
  margin: 0;
  padding: 0;
  color: var(--on-background);
  font-family: Comfortaa, sans-serif;
  background-color: #0a192f;
  background-image: url("../assets/bemoldigital.png");
  background-size: 100px 100px;
  overflow-x: hidden; }

/**
 * Basic typography style for copy text
 */
body {
  color: #000;
  font: normal 125% / 1.4;
  font-family: Sen, sans-serif; }

.interface {
  margin: 2% auto;
  width: 100%;
  max-width: 500px;
  background-color: rgba(255, 255, 255, 0.97);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0 5px 30px 10px rgba(0, 0, 0, 0.4); }
  .interface h1 {
    letter-spacing: 2px; }
  .interface .formulario {
    width: 90%; }
    .interface .formulario-info {
      height: 65px;
      margin-bottom: 5px; }
      .interface .formulario-info label {
        position: relative;
        bottom: 3px; }
      .interface .formulario-info input {
        width: 100%;
        height: 40px;
        padding: 10px;
        border: 1px solid black;
        border-radius: 5px;
        outline: none;
        transition: all 0.3s; }
        .interface .formulario-info input:valid {
          border: 1px solid green; }
        .interface .formulario-info input:invalid {
          border: 1px solid red; }
    .interface .formulario-cep label {
      position: relative;
      bottom: 3px;
      margin: 3px 2px; }
    .interface .formulario-cep input {
      height: 40px;
      padding: 10px;
      border: 1px solid black;
      border-radius: 5px;
      outline: none;
      transition: all 0.3s; }
      .interface .formulario-cep input:valid {
        border: 1px solid green; }
      .interface .formulario-cep input:invalid {
        border: 1px solid red; }
    .interface .formulario button {
      cursor: pointer;
      color: white;
      background: black;
      border: none;
      border-radius: 5px;
      height: 50px;
      width: 100%;
      font-family: Sen, sans-serif;
      font-size: 20px;
      letter-spacing: 2px; }
      .interface .formulario button:hover {
        filter: brightness(200%);
        background: #161616; }
      .interface .formulario button:focus {
        outline: none; }
  .interface .message-container {
    border: 1px solid red;
    border-radius: 5px;
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    color: red; }

@media only screen and (max-width: 500px) {
  .formulario-cep label {
    position: relative;
    bottom: 3px;
    margin: 5px 0; }
  .formulario-cep input {
    margin: 5px 0;
    height: 40px;
    padding: 10px;
    width: 100%;
    border: 1px solid black;
    border-radius: 5px;
    outline: none;
    transition: all 0.3s; }
    .formulario-cep input:valid {
      border: 1px solid green; }
    .formulario-cep input:invalid {
      border: 1px solid red; } }
