nav {
    padding: 15px 40px;
    height: 80px;
    background-color: rgba(40, 42, 55,1);
    position: fixed;
    width: 100vw;
    top: 0;
    z-index: 3;
    transition: .5s ease-in;
    .iconify{
        position: absolute;
        z-index: 4;
        width: 50px;
        height: 55px;
        &:hover{
          cursor: pointer;
        }
    }
    .middle-nav-list{
      font-family:  monospace;
      font-weight: bold;
      text-align: center;
      position: relative;
      
      .toggle{
        position: absolute;
        right: 0;
        top: 2px;
        right: -15px;
        width: 50px;
        height: 50px;
        background-color: rgba(40, 42, 55, 1);
        box-shadow:  0 10px 20px rgba(0,0,0,0.08);
        border-radius: 10px;
        display: none;
        overflow: hidden;
        cursor: pointer;
        span{
          position: absolute;
          top: 25px;
          width: 30px;
          right: 10px;
          height: 4px;
          background: $color-primary;
          border-radius: 4px;
          transition: 0.5s;
          &:nth-child(1){
            transform: translateY(-10px);
            width: 20px;
            right: 10px;
          }
          &:nth-child(2){
            transform: translateY(10px);
            width: 15px;
            right: 10px;
          }
        }
        &.active{
          span{
            &:nth-child(3){
              transform: translateX(60px);

            }
            &:nth-child(2){
              transform: translateY(0px) rotate(60deg);
              width: 30px;
            }
            &:nth-child(1){
              width: 30px;
              transform: translateY(0px) rotate(-60deg);
            }
          }
        }
      }
    }
    .navigation-items {
        display: inline-block;
        line-height: 20px;  
        
       li {
        display: inline-block;
        padding: 3px 4px;
      }     
    }
    .right-nav-list{
        position: absolute;
        right: 0;
        top: 20px;
    }
    
}

@media only screen and (max-width: 860px) {
  nav{
    position: fixed;
    width: 100vw;
    top: 0;
    background-color: rgba(0,0,0,1);
    z-index: 2;
    font-size: 1.5rem;

    .middle-nav-list{
      .navigation-items{
      display: none;
      
      padding: 25vh 0;
      margin: 0;
      position: fixed;
      width: 100vw;
      height: 100vh;
      left: 0;
      top: 0;
      background-color: rgba(255,255,255, 0.05);
      li{
        display: block;
        width: 300px;

        box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
        border: solid 0.5px $color-primary;
        border-radius: 30px;
        background: black;
        margin: 50px auto;
      }
      &.active{
        display: inline-block;
        
      
      }
    }
    .right-nav-list{
      right: 50px;
      top: 12px;

    }
    .toggle{
      display: block !important;
    }
  }
}
  
}