.interface{
  margin: 2% auto;
  width: 100%;
  max-width: 500px;
  background-color: rgba(255,255,255, 0.97);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  box-shadow:  0 5px 30px 10px rgba(0,0,0, 0.4);
  h1{
    letter-spacing: 2px;
  }
  .formulario{
    width: 90%;
    &-info{
      height: 65px;
      margin-bottom: 5px;
      label{
        position: relative;
        bottom: 3px;
      }
      input {
        width: 100%;
        height: 40px;
        padding: 10px;
        border: 1px solid black;
        border-radius: 5px;
        outline: none;
        transition:  all 0.3s;
        &:valid{
          border: 1px solid green;
        }
        &:invalid{
          border: 1px solid red
        }
      }
    }
    &-cep{
      label{
        position: relative;
        bottom: 3px;
        margin: 3px 2px;
      }
      input {
        height: 40px;
        padding: 10px;
        border: 1px solid black;
        border-radius: 5px;
        outline: none;
        transition:  all 0.3s;
        &:valid{
          border: 1px solid green;
        }
        &:invalid{
          border: 1px solid red
        }
      }
    }
    button{
      cursor: pointer;
      color: white;
      background: black;
      border: none;
      border-radius: 5px;
      height: 50px;
      width: 100%;
      font-family: Sen, sans-serif;
      font-size: 20px;
      letter-spacing: 2px;
      &:hover{
        filter: brightness(200%);
        background: rgb(22, 22, 22)
      }
      &:focus{
        outline: none;
      }
    }
  }
  .message-container {
    border: 1px solid red;
    border-radius: 5px;
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    color: red;
  }
}

@media only screen and (max-width: 500px) {
  .formulario-cep{
    label{
      position: relative;
      bottom: 3px;
      margin: 5px 0;
    }
    input {
      margin: 5px 0;
      height: 40px;
      padding: 10px;
      width: 100%;
      border: 1px solid black;
      border-radius: 5px;
      outline: none;
      transition:  all 0.3s;
      &:valid{
        border: 1px solid green;
      }
      &:invalid{
        border: 1px solid red
      }
    }
  }
}